<!DOCTYPE html>
<html>
<head>
	<title>/ASCII Chan/</title>
</head>
<body>
<h2>/ASCII Chan/</h2>
<form method="post">
<label>
	<div>Title</div>
	<input type="text" name="title" value="{{title}}">
</label>
<label>
	<div>Art</div>
	<textarea name="art">{{art}}</textarea>
	<br>
</label>
<label>
	<div style="color: red">{{error}}</div>
</label>
	<button>Submit</button>
</form>
<hr>
	{% for a_art in arts%}
	<div class="art">
	<div class="art-title">{{a_art.title}}</div>
	<div class="art-time">{{a_art.created_time}}</div>
	<pre class="">{{a_art.art}}</pre>
	</div>
	{% endfor %}
</body>
</html>